:root {
    --zapp-light: #005fab;
    --zapp-dark: #0158a4;
    --navbar-height: calc(1rem + 50px);
}

.navbar-padding {
    padding-top: var(--navbar-height);
}

@font-face {
    font-family: helvetica-neue;
    src: url("./helvetica-neue.woff");
}

.zapp-text {
    font-family: helvetica-neue;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5em;
}

.text-white {
    color: white !important;
}

.zapp-gradient {
    background: linear-gradient(180deg, var(--zapp-light) 0%, var(--zapp-dark) 50%, black 175%);
}

.default-button {
    background: var(--zapp-light);
    border: none;
    border-radius: 0.9rem;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    font-size: large;
}

.default-button:focus, .default-button:hover {
    background: var(--zapp-dark);
}

.login-button {
    opacity: 0.75;
    border-radius: 0.9rem;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: none;
    font-weight: lighter !important;
    color: white !important;
    background: linear-gradient(white,white) bottom no-repeat;
    background-size: 60% 1px;
}

.login-button:focus, .login-button:hover {
    opacity: 1;
    background: white;
    color: black !important;
    font-weight: normal !important;
    outline: none;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.position-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

td a {
    display: block;
    text-decoration: none;
    color: black;
}

.prev-button {
    height: 0;
    width: 0;
    background: none;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: none;
    border-right: 25px solid var(--zapp-light);
}

.prev-button:hover, .prev-button:focus {
    border-right-color: var(--zapp-dark);
}

.next-button {
    height: 0;
    width: 0;
    background: none;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid var(--zapp-light);
    border-right: none;
}

.next-button:hover, .prev-button:focus {
    border-left-color: var(--zapp-dark);
}

.prev-button:disabled {
    border-right-color: grey;
}
.next-button:disabled {
    border-left-color: grey;
}

.calendar {
    width: 50%;
}
.day {
    height: 75vh;
    width: 100%;
    outline: 3px solid grey;
    margin-top: 3px;
    margin-left: 3px;
    background-color: rgba(0,0,0,0);
}
.day-title {
    outline: 3px solid grey;
    width: 100%;
    margin: 0;
    font-size: large;
    font-weight: bold;
}

.calendar-header {
    text-transform: capitalize;
}

.circle-initials {
    text-align: center;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: bold 16px helvetica-neue;
    color: white;
}